#map-div {
    height: 75%;
    width: 100%;
}

#map-controls {
    width: 100%;
    height: 50px;
    background: black;
    margin: 0;
    @include outer-container();
    #welcome {
        @include span-columns(3);
        background: gray;
        height: 100%;
    }
    #numAdventure {
        @include span-columns(3);
        background: gray;
        height: 100%;
    }
    #entries {
        @include span-columns(3);
        background: gray;
        height: 100%;
    }
    #add {
        @include span-columns(3);
        @include omega();
        background: gray;
        height: 100%;
    }
}