#map-div {
    height: 100%;
    width: 100%;
}

#map-div-short {
    height: 65%;
    width: 100%;
}

#map-controls {
    width: 100%;
    height: 50px;
    background: black;
    margin: 0;
    @include outer-container();
    #welcome {
        @include span-columns(3);
        background: gray;
        height: 100%;
    }
    #numAdventure {
        @include span-columns(3);
        background: gray;
        height: 100%;
    }
    #entries {
        @include span-columns(3);
        background: gray;
        height: 100%;
    }
    #add {
        @include span-columns(3);
        @include omega();
        background: gray;
        height: 100%;
    }
}

#endAdventure {
    margin-top: 20px;
    color: black;
    padding: 10px;
    text-align: center;
}

#formActions {
    margin-top: 20px;
}

.submitButton {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: black;
    &:hover{
        color: gray;
    }
}