extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/stylesheet.css")
block body
  ul(class="navigation")
    li(class="nav-item")
        a(href="/logout") Log Out
  input#nav-trigger(type="checkbox" class="nav-trigger")
  label(for="nav-trigger")
        i(class="fa fa-bars")
  div(class="site-wrap")
      div#map-div
      div#map-controls
        div#welcome
        div#numAdventure
        div#entries
        div#add
      section(class="wrapper")
        h1 Adventure Page
            button#endAdventure End Adventure    
        form#adventureForm(class="adventureForm", name="adventureForm", action="/start", method="POST")
            div#formActions
                input(type="hidden")
                h2 Start new adventure form
                label(for="title") Title: 
                input#atitle(type="text", name="title", placeholder="title")
                input#alongitude(type="hidden", name="longitude", placeholder="longitude")
                input#alatitude(type="hidden", name="latitude", placeholder="latitude")
                a#addAdventure(class="submitbutton", href="#") Start Adventure 
            div#errorMessage
        form#pointForm(class="pointForm", name="pointForm", action="/point", method="POST")
            div#formActions
                input#olongitude(type="hidden", name="longitude", placeholder="longitude")
                input#olatitude(type="hidden", name="latitude", placeholder="latitude")
            div#errorMessage
        form#postForm(class="postForm", name="postForm", action="/post", method="POST")
            div#formActions
                h2 Add a text Post
                label(for="post") Post: 
                input#post(type="text", name="post", placeholder="post content goes here")
                input#plongitude(type="hidden", name="longitude", placeholder="longitude")
                input#platitude(type="hidden", name="latitude", placeholder="latitude")
                a#addPost(class="submitbutton", href="#") Submit Post 
            div#errorMessage
        form#uploadForm(enctype='multipart/form-data', action='/api/photo', method='post')
            input(type='file' name='userPhoto', accept='image/*;capture=camera')
            input(type='submit', value='Upload Image', name='submit')
block scripts
        script(src="/assets/adventure.js")
        script(src="/assets/geolocation-throttle.js")
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6RYGB6WBp3etiIGhfuFE6CBpjAo-hJW4")
        script(src="/assets/map.js")