extends ./base.jade
block append style
block body
  ul(class="navigation")
    li(class="nav-item")
        a(href="/profile") Profile
        a(href="/adventure") Adventure
        a(href="/logout") Log Out
  input#nav-trigger(type="checkbox" class="nav-trigger")
  label(for="nav-trigger")
        i(class="fa fa-bars")
  div(class="site-wrap")
      div#map-div
      div#map-controls
        div#welcome
        div#numAdventure
        div#entries
        div#add
      section(class="wrapper")
        button#endAdventure End Adventure    
        form#adventureForm(class="adventureForm", name="adventureForm", action="/start", method="POST")
            div#formActions
                div#openModal(class="modalDialog")
                    div
                        h2 Please Enter A Title For Your Adventure 
                        input#atitle(type="text", name="title", placeholder="Title")
                        br
                        a#addAdventure(class="submitbutton", href="#") Start Adventure 
                input#alongitude(type="hidden", name="longitude", placeholder="longitude")
                input#alatitude(type="hidden", name="latitude", placeholder="latitude")
            div#errorMessage
        form#pointForm(class="pointForm", name="pointForm", action="/point", method="POST")
            div#formActions
                input#olongitude(type="hidden", name="longitude", placeholder="longitude")
                input#olatitude(type="hidden", name="latitude", placeholder="latitude")
            div#errorMessage
        form#postForm(class="postForm", name="postForm", action="/post", method="POST")
            div#formActions
                h2 Add a text Post
                label(for="post") Post: 
                input#post(type="text", name="post", placeholder="post content goes here")
                input#plongitude(type="hidden", name="longitude", placeholder="longitude")
                input#platitude(type="hidden", name="latitude", placeholder="latitude")
                a#addPost(class="submitbutton", href="#") Submit Post 
            div#errorMessage
block scripts
        script(src="/assets/adventure.js")
        script(src="/assets/geolocation-throttle.js")
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6RYGB6WBp3etiIGhfuFE6CBpjAo-hJW4")
        script(src="/assets/adventureMap.js")