html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel="stylesheet", type="text/css", href="/public/stylesheets/app.css")
    title GeoLocator
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    block style
  block body
  block scripts
  