extends ./base.jade
block append style
block body
  ul(class="navigation")
    li(class="nav-item")
        a(href="/profile") Profile
        a(href="/adventure") Adventure
        a(href="/logout") Log Out
  input#nav-trigger(type="checkbox" class="nav-trigger")
  label(for="nav-trigger")
        i(class="fa fa-bars")
  div(class="site-wrap")
      div#map-div
      
block scripts
        script(src="/assets/locator.js")
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6RYGB6WBp3etiIGhfuFE6CBpjAo-hJW4")
        script(type="text/javascript").
            var adventures = !{pathArray}
            var points = !{pointsArray}
        script(src="/assets/previousMap.js")