extends ./base.jade
block append style
block body
  ul(class="navigation")
    li(class="nav-item")
        a(href="/login") Login
        a(href="/signup") Sign Up
  input#nav-trigger(type="checkbox" class="nav-trigger")
  label(for="nav-trigger")
    i(class="fa fa-bars")
  div(class="site-wrap")
      section(class="wrapper")
            div#signup
                img(class="logo", src="/assets/img/logo.png" alt="Logo")
                form#signupForm(class="mainForm", name="signupForm", action="/signup", method="POST")
                  div#username 
                      input#user(type="text", name="username", placeholder="Username")
                  div#password
                      input#pass(type="password", name="pass", placeholder="Password")
                  div#password
                      input#pass2(type="password", name="pass2", placeholder="Password")
                  div(class="clear")
                  small#errorMessage
                  input#signupSubmit(type="submit", class="formSubmit", value="Sign Up")
block scripts
        script(src="/assets/client.js")
        
        
        